<div class="container top_container">
  <div class="row">
    <div class="span8" id="register">

      <h2>Registrering</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
          <%= f.error_notification %>

          <div class="control-group">
            <%= f.input :first_name, :required => true, :label => 'Fornavn', :autofocus => true %>
            <%= f.input :username, :required => true, :label => 'Brukernavn' %>
            <%= f.input :email, :required => true, :label => 'Epost' %>
            <%= f.input :password, :label => 'Passord', :required => true %>
            <%= f.input :password_confirmation, :label => 'Gjenta passord', :required => true %>
            <%= f.input :age, :required => false, :label => 'Alder', collection: 7..99 %>
            <%= f.input :op_sys, :required => false,as: :radio_buttons, :label => 'Operativsystem', collection: ["Windows 7","Windows 8","Mac osx","Linux"]%>
            <%= f.input :code_experience, :required => false, :label => 'Kode erfaring'%>
            <%= f.input :minecraft_experience, :required => false,as: :radio_buttons, :label => 'Minecraft erfaring', collection:  [["liten",1],["litt",2],["ekspert",3],["modder",4]]%>
            <%= f.input :mobile_num, :required => false, :label => 'Mobil nummer'%>
            <%= f.input :parent_contact, :required => false, :label => 'Foresatt kontakt'%>

            <br/>
            <%= f.button :submit, "Opprett meg som bruker", :class => 'btn btn-large btn-primary' %>
          </div>

      <% end %>

      <%= render "devise/shared/links" %>

      </div>
</div>
</div>
