<%= form_for @avatar, :url => {:action=>"create", :controller=>"avatar"}, :method => :post do |f| %>
    <% if @avatar.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited this image from being saved:</h2>
          <ul>
            <% @avatar.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :key %>

    <p>File: <%= @avatar.image_name %></p>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>