<header>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to 'Kidsakoder Minecraft i Fana',root_path, class: 'brand' %>
      <!--/.nav-collapse -->
      <ul class="nav pull-right">
      <% if user_signed_in? %>
            <li> <%= link_to current_user.username, edit_user_registration_path %> </li>
            <li> <%= link_to "Logg ut", destroy_user_session_path, method: :delete %> </li>
      <% else %>
            <li>  <%= link_to "Registrering", new_user_registration_path %> </li>
            <li> <%= link_to "Logg på", new_user_session_path %>   </li>
      <% end %>
      </ul>

    </div>
  </div>
</div>
</header>